.app__navbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 50;
}

.app__navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        transition: all 0.3s ease-in-out;
        width: 140px;
        height: 40px;

        @media screen and (min-width: 2000px){
            width: 200px;
            height: 50px;
        }
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        a {
            color: var(--black-color);
            text-decoration: none;
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            border-bottom: 3px dotted transparent;
            transition: all 0.3s ease-in-out;

            &:hover {
                font-weight: 800;
                background: var(--gradient-color);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        div {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background-color: transparent;
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            div {
                background-color: var(--black-color);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 1.25rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black-color);

    &:hover {
        background: var(--gradient-color);
    }

    svg {
        width: 70%;
        height: 70%;
        color: white;
    }

    @media screen and (min-width: 900px) {
        display: none;
    }
}

.app__navbar-sidebar {
    width: 60vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;

    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    background: url('../../assets/bgSidebar.png');
    background-size: cover;
    background-repeat: repeat;

    svg {
        width: 35px;
        height: 35px;
        color: var(--black-color);
        margin: 1rem 2rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding-left: 2rem;
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        z-index: 10;

        li {
            margin: 1rem;

            svg {
                margin: 0;
                color: white;
                &:hover {
                    font-weight: 800;
                    color:black;
                }
            }

            a {
                color: var(--white-color);
                text-decoration: none;
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 600;


                transition: all 0.3s ease-in-out;

                &:hover {
                    font-weight: 800;
                    color:black;
                    text-shadow: 0 0 25px white;
                }
            }
        }
    }
    @media screen and (min-width: 900px) {
        display: none;

    }
}
